In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

In [3]:
spy = yf.download("SPY", start="2015-01-01")

type(spy.index)

spy.columns

spy.xs("SPY", level="Ticker",axis=1)

[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open     Volume
Date
2015-01-02  170.589645  171.793740  169.551642  171.378538  121465900
2015-01-05  167.508820  169.709381  167.201575  169.543303  169632600
2015-01-06  165.931030  168.339192  165.133838  167.816035  209151400
2015-01-07  167.998718  168.339186  166.811249  167.259661  125346700
2015-01-08  170.979950  171.195863  169.393890  169.410489  147217800
...                ...         ...         ...         ...        ...
2025-12-19  680.590027  681.090027  676.469971  676.590027  103599500
2025-12-22  684.830017  685.359985  680.590027  683.940002   69556700
2025-12-23  687.960022  688.200012  683.869995  683.919983   64840000
2025-12-24  690.380005  690.830017  687.799988  687.950012   39445600
2025-12-26  690.309998  691.659973  689.270020  690.640015   41588400

[2763 rows x 5 columns]

In [4]:
close_spy = spy["Close"]


log_price = np.log(close_spy)

log_price_lag = log_price.shift(1)

log_returns = log_price - log_price_lag